body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  min-width: 315px;
  margin: 0;
  background-color: #22212f;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #e3e1f5;
}

a {
  color: rgb(255, 228, 91, 0.9);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 228, 91, 0.5);
}

a.nostyle {
  color: inherit;
  border-bottom: inherit;
}

p {
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0 0 0 10px;
  font-size: 32px;
  font-weight: 300;
  color: #ffe45b;
}

.location {
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.container {
  padding: 20px;
}

.profile {
  width: 60px;
  height: 60px;
}

@media screen and (min-device-width: 1200px) {
  body {
    align-items: center;
    font-weight: 100;
  }
}
